agents==1.4.0
casadi==3.7.2
cvxpy==1.7.3
cvxpylayers==0.1.6
matplotlib==3.5.1
mmengine==0.10.7
MPC==0.0.6
numpy==1.23.4
pandas==3.0.3
pykan==0.2.8
PyYAML==6.0.2
PyYAML==6.0.3
scipy==1.17.1
Shapely==2.1.2
torch==2.6.0+cu118
tqdm==4.67.1
